.obras-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.obra-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.obra-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.obra-item img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


@media (max-width: 945px) {
  .obras-grid {
    gap: 1rem;
    padding: 1rem;
  }

  .obra-item img {
    border-radius: 6px;
  }
  .obras-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
}