.formulario-generico {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  gap: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.formulario-generico label {
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: black;
}

.formulario-generico input,
.formulario-generico textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ff8c00;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario-generico button {
  width: 100%;
  padding: 12px;
  background-color: #ff8c00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h5{
  color: red;
}

 input,
textarea,
button,
select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff8c00;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

/* MEDIA QUERIES PARA RESPONSIVE DESIGN */
@media (min-width: 600px) {
  .formulario-generico {
    padding: 30px;
    gap: 20px;
  }
}

@media (min-width: 900px) {
  .formulario-generico {
    max-width: 600px;
  }

  .formulario-generico button {
    max-width: 300px;
  }
}