.checkbox-proteccion-datos {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre checkbox y texto */
  margin-bottom: 1rem;
}

.checkbox-proteccion-datos input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.checkbox-proteccion-datos .texto-privacidad {
  font-size: 14px;
}
